<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <a href="<%= @user_url %>"><%= @user.username %></a> commented on <a href="<%= @url %>"><%= @listing.listing_name %></a>. 
    </p>
  </body>
</html>