<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <a href="<%= @actor %>"><%= @actor.username %></a> started following your goings.
    </p>
  </body>
</html>