<div id="logo"><span class="base">Going<span>.im</span></span><span class="location">{{active}}</span>
  <div id="circleG">
    <div id="circleG_1" class="circleG"></div>
    <div id="circleG_2" class="circleG"></div>
    <div id="circleG_3" class="circleG"></div>
  </div>
</div>
{{#unless current_user}}
<div class="description"><span class="yellow">Going<strong>.im</strong></span> is a simple social events listing site currently in a very experimental (and buggy) form. See what people are going to and find people to go to things with. NYC-centric with plans to expand. You can connect through <span class="facebook">facebook</span> or <span class="twitter">twitter</span> to create your own events and follow your friends.</div>
{{/unless}}