<form method="post" id="new_listing" class="new_listing" action="/listings" accept-charset="UTF-8">
  <div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
  <input type="text" size="30" name="listing[listing_name]" id="listing_listing_name">
  <input type="submit" value="Create Event" name="commit">
</form>