<div class="main_form">
  <div class="header group">
    <h2>New Event</h2>
    <div class="modal_close">x</div>
  </div>
  <form method="post" id="new_listing" class="new_listing" action="/listings" accept-charset="UTF-8">
    <div style="margin:0;padding:0;display:inline">
      <input type="hidden" value="✓" name="utf8"><input name="authenticity_token" type="hidden" value="{{token}}">
    </div>
    
    <div class="required_info group">
      <div id="intention" class="intention_container">
        <div class="intention_selected">I am going to <div class="intention_triangle"></div></div>
        <ul class="intention_select">
          <li class="active">I am going to</li>
          <li>I am thinking about going to</li>
          <li>I would go, if somebody else does, to</li>
        </ul>
        <input type="hidden" id="listing_intention" name="listing[intention]" />
      </div>
      <input class="required" type="text" size="37" name="listing[listing_name]" id="listing_listing_name" placeholder="Event Name" />
      <span>&nbsp;&nbsp;on&nbsp;&nbsp;</span>
      <input type="text" class="required" size="30" id="listing_day" placeholder="Tuesday, December 18" />
      <span>&nbsp;&nbsp;at&nbsp;&nbsp;</span>
      <input type="text" class="short required" size="30" id="listing_time" placeholder="8:00 PM" />
      <input type="hidden" id="listing_date_and_time" name="listing[date_and_time]" />
      <div id="required_label">required</div>
    </div>
      
    <div class="form_group group">
      <div class="form_heading">location</div>
      <input type="text" size="30" id="listing_venue_name" name="listing[venue_name]" placeholder="Venue Name" /> 
      <input type="text" size="30" id="listing_venue_address" name="listing[venue_address]" placeholder="Address" />
      <input type="text" size="30" id="listing_venue_url" name="listing[venue_url]" placeholder="URL" />
      <div id="map_area"></div>
      <div id="map_option">Remove Map</div>
    </div>
    
    <div class="form_group group">
      <div class="form_heading">event description</div>
      <textarea id="listing_event_description" name="listing[event_description]"></textarea>
    </div>
    
    <div class="form_group group intention_fix">
      <div class="form_heading">tickets</div>
      <div id="ticket_option" class="intention_container">
        <div class="intention_selected">Select a ticket option <div class="intention_triangle"></div></div>
        <ul class="intention_select">
          <li>Tickets are on sale</li>
          <li>Tickets will go on sale</li>
          <li>It's free!</li>
          <li class="active">no ticket info</li>
        </ul>
        <input type="hidden" id="listing_ticket_option" name="listing[ticket_option]" />
      </div>
      <span class="not_free hidden">
        <span class="future_sale hidden">
          <input type="text" class="required" size="30" id="listing_sale_day" placeholder="Tuesday, December 18" />
          &nbsp;&nbsp;at&nbsp;&nbsp;
          <input type="text" class="short required" size="30" id="listing_sale_time" placeholder="8:00 PM" />
          <input type="hidden" id="listing_sale_date" name="listing[sale_date]" />
        </span>
        &nbsp;&nbsp;and I think they will&nbsp;
        <div id="sell_out" class="intention_container">
          <div class="intention_selected">not sell out
            <div class="intention_triangle"></div>
          </div>
          <ul class="intention_select">
            <li>sell out immediately</li>
            <li>sell out within a week</li>
            <li>sell out within a month</li>
            <li class="active">not sell out</li>
            <li>they sold out</li>
          </ul>
          <input type="hidden" id="listing_sell_out" name="listing[sell_out]" />
        </div>.
        &nbsp;&nbsp;They cost&nbsp;&nbsp;
        <input type="text" class="required" size="30" class="short" name="listing[cost]" id="listing_cost" placeholder="$0" />
        &nbsp;&nbsp;and you can get them at&nbsp;
        <input type="text" size="30" name="listing[ticket_url]" id="listing_ticket_url" placeholder="Ticket URL" />
      </span>
    </div>

    <div class="form_group group intention_fix">
      <div class="form_heading">share to</div>
      <!-- <div id="privacy" class="intention_container">
        <div class="intention_selected">everyone
          <div class="intention_triangle"></div>
        </div>
        <ul class="intention_select">
          <li class="active">everyone</li>
          <li>friends only</li>
        </ul>
      </div>
      <div class="spacer"></div> -->
<!--       {{#if fb_connect}}<div class="new_share facebook {{#if fb_default}}share_it{{/if}}">facebook</div>{{/if}} -->
      {{#if tw_connect}}<div class="new_share twitter {{#if tw_default}}share_it{{/if}}">twitter</div>{{/if}}
    </div>
  
    <div class="form_group group"><input type="submit" value="Create Event" class="not_ready" name="commit"><div class="error_msg"></div></div>
  </form>
</div>