<form method="post" id="user_new" class="user_new" action="/users" accept-charset="UTF-8"><input type="hidden" value="✓" name="utf8">
  
  <div class="line"><label for="user_email">Email</label>
  <input type="email" value="" size="30" name="user[email]" id="user_email"></div>

  <div class="line"><label for="user_password">Password</label>
  <input type="password" size="30" name="user[password]" id="user_password"></div>

  <div class="line"><label for="user_password_confirmation">Password confirmation</label>
  <input type="password" size="30" name="user[password_confirmation]" id="user_password_confirmation"></div>
  <div class="line divider"></div>
  <div class="line"><input type="submit" value="Sign up" name="commit"></div>
</form>