<div class="avatar" style='background-image: url("{{avatar}}");'></div>
<div class="comment_body"><div class="comment_text"><span class="user_link">{{name}}</span> {{text}}</div><div class="timestamp">{{timestamp}}</div>
{{#if owner}}
<div class="actions">
  delete
</div>
{{/if}}
</div>