{{#unless fb_connected}}<div class="title_description">Connect your <span class="facebook">facebook</span> account to find more friends.</div>{{/unless}}
{{#unless tw_connected}}<div class="title_description">Connect your <span class="twitter">twitter</span> account to find more friends.</div>{{/unless}}
{{#if fb_connected}}
  <div class="month_container">
    <div class="month">facebook</div>
  </div>
  <div class="facebook_friends"></div>{{/if}}
{{#if tw_connected}}
  <div class="month_container">
    <div class="month">twitter</div>
  </div>
  <div class="twitter_friends"></div>
{{/if}}
<div class="month_container">
  <div class="month">all</div>
</div>
<div class="all"></div>