<li class="twitter"><span>t</span><span class="name">Twitter</span></li>
<!-- <li class="facebook"><span>f</span><span class="name">Facebook</span></li> -->
<li id="sign_up_overlay"><div class="left_pointer"></div>connect<div class="right_pointer"></div></li>
<li class="twitter_target"></li>
<!-- <li class="facebook_target"></li> -->