<li id="sort_nyc" class="city {{#if current_user}}signed_in{{/if}} {{#if nyc}}active{{/if}}">nyc</li>
{{#if current_user}}
  <li id="sort_friends" >friends</li>
  <li id="sort_you" class="{{#if you}}active{{/if}}" >you</li>
{{/if}}