<div class="user_container">
  <div class="username">{{name}}</div>
  <div class="follow">
    <div class="follow_hor"></div>
    <div class="follow_ver"></div>
    <div class="follow_text">follow</div>
  </div>
</div>
<div class="user_image"><img src="{{image}}" /></div>
<div class="user_description">{{description}}</div>