<div class="user_container">
  <div class="username">{{name}}</div>
  {{#unless current_user}}
    {{#if followed}}
      <div class="follow un">
        <div class="follow_hor"></div>
        <div class="follow_ver"></div>
        <div class="follow_text">unfollow</div>
      </div>
    {{else}}
      <div class="follow">
        <div class="follow_hor"></div>
        <div class="follow_ver"></div>
        <div class="follow_text">follow</div>
      </div>
    {{/if}}
  {{/unless}}
</div>
<div class="user_image"><img src="{{image}}" /></div>
{{#if description}}<div class="user_description">{{description}}</div>{{/if}}
{{#if current_user}}
<span class="find_friends">find friends</span>
{{/if}}