/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// attempted button fix
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
}

// font styling
input {
  font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",'Helvetica Neue';
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

// clear fix
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}

// utilities
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}

// layout
body {
  height: 100%;
  min-width: 600px;
  font-size: 20px;
  font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",'Helvetica Neue';
  
  #wrapper {
    margin: 0 240px 0 0;
    line-height: 1.4em;
    position: relative;
    
    // Main Column
    #main_column {
      width: 830px;
      margin: 0;
      float: right;
      -moz-transition: all 0.2s linear;
      background: #fff;
      z-index: 9;
      position: relative;
      
      #main_inner {
        position: relative;
        
        #top_bar {
          position: fixed;
          top: 0;
          z-index: 7;
          height: 54px;
          width: 880px;
          
          #month_text {
            background: none repeat scroll 0 0 #000000;
            color: #FFFFFF;
            float: left;
            font-size: 14px;
            height: 32px;
            letter-spacing: 2px;
            line-height: 1em;
            margin: 0 0 0 -110px;
            padding: 10px;
            position: absolute;
            text-align: right;
            text-transform: uppercase;
            font-weight: bold;
            top: 0;
            width: 148px;
            z-index: 9;
            left: 0;
            display: none;
          }
        }
      }
    }
    #main_column.inactive {
      margin-right: 780px;
    }
  }
}

// general form styling
form {
  .form_heading {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom : 12px;
    text-transform: lowercase;
    color: #000;
    clear: both;
  }
  label {
    font-size: 12px;
    display: block;
    margin-bottom: 8px;
    float: left;
    clear: both;
  }
  .form_text {

  }
  .form_text.end {
  }
  input {
    border: none;
    padding: 0;
    width: 200px;
    margin: 0;
    display: inline-block;
    font-size: 18px;
    padding: 6px 6px 5px;
    background: #fff;
    margin-bottom: 8px;
    -moz-transition: all 0.2s linear;
  }
  input.text_entered {
    background: transparent;
  }
  input:focus {
    width: 180px;
  }
  input.short {
    width: 100px;
  }
  input:hover, input:focus {
    background: #fff;
  }
  input[type="submit"] {
    background: #0E72BC;
    border: none;
    color: #fff;
    padding: 2px 10px 0;
    height: 40px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    text-transform: lowercase;
    margin-top: 14px;
    float: left;
    width: auto;
  }
  input[type="submit"]:active {
    box-shadow: inset 0 0 8px rgba(0,0,0,0.8);
  }
}
.ui-autocomplete {
  width: 169px;
  font-size: 16px;
  background: #e9e9e9;
  border-top: solid 2px #444;
  color: #000;
  position: fixed;
  .ui-menu-item a {
    padding: 6px 8px;
    display: block;
  }
  .ui-state-hover {
    background: #fff;
    cursor: pointer;
    color: #000;
  }
}

#required_label {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  background: none repeat scroll 0 0 fireBrick;
  color: #FFFFFF;
  font-size: 13px;
  margin-right: -19px;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 24px;
  display: none;
}

// Listing Create form
.sign_container {
  position: fixed;
  z-index: 8;
  width: 760px;
  height: 100%;
  right: 250px;
  top: 0;
  -moz-transition: all 0.1s linear;
  color: #444;
}


.panel_container {
  position: fixed;
  z-index: 8;
  width: 760px;
  height: 100%;
  right: 250px;
  top: 0;
  -moz-transition: all 0.1s linear;
  color: #444;
}
.main_form {
  margin: 0;
  .header {
    color: #000;
    margin: 20px 20px 20px;
    font-size: 20px;
    padding-bottom: 12px;
    text-transform: lowercase;
    border-bottom: solid 1px #bbb;
    h2 {
      float: left;
    }
    .modal_close {
      float: right;
      margin-top: -6px;
      padding: 3px;
      cursor: pointer;
    }
    .modal_close:hover {
      color: #fff;
    }
  }
  form {
    margin: 0;
    padding: 0;
  }
  .intention_container {
    position: relative;
    display: inline-block;
    margin-bottom: -14px;
    .intention_selected {
      background: #fff;
      padding: 8px 26px 6px 6px;
      font-size: 18px;
      line-height: 24px;
      color: #000;
      cursor: pointer;
      float: left;
      .intention_triangle {
        border-top: solid 6px #7f7f7f;
        border-left: solid 6px transparent;
        border-right: solid 6px transparent;
        width: 6px;
        height: 6px;
        position: absolute;
        right: 10px;
        top: 16px;
      }
    }
    .intention_selected:hover {
      background: #fff;
      .intention_triangle {
        border-top: solid 6px #000;
      }
    }
    .intention_selected.active {
      background: #000;
      color: #fff;
    }
    .intention_select {
      font-size: 18px;
      position: absolute;
      width: 320px;
      color: #ddd;
      background: #000;
      border-top: solid 3px #000;
      border-bottom: solid 3px #000;
      z-index: 9;
      display: none;
      top: 38px;
      margin-bottom: 8px;
      li {
        padding: 6px 8px;
        display: block;
        cursor: pointer;
      }
      li:hover {
        background: #444;
        color: #fff;
      }
      li.active {
        display: none;
      }
    }
    .intention_select.active {
      display: block;
    }
  }
}
.required_info {
  padding: 0 20px;
  font-size: 18px;
}
.left_group {
  float: left;
  width: 370px;
}
.ticket_group {
  float: right;
  width: 360px;
}

#logo {
  font-size: 38px;
  line-height: 38px;
  margin-top: 25px;
  margin-left: 20px;
  font-weight: bold;
  color: #222;
  display: none;
  span {
    color: #555;
  }
}
#tagline {
  margin-top: 3px;
  font-size: 13px;
  color: #aaa;
  float: left;
  clear: both;
}
.month_container {
  position: relative;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  .month {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    height: 32px;
    letter-spacing: 2px;
    line-height: 1em;
    margin: 0 0 0 -610px;
    padding: 10px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    top: 0;
    width: 758px;
    font-weight: bold;
    z-index: 6;
    -moz-transition: width 0.1s linear;
  }
}
.month.active {
  width: 650px;
  position: fixed;
  left: 0;
  top: 25px;
  margin-top: 0;
  margin-left: -506px;
  z-index: 9;
}
.month.prev {
  opacity: 0;
}
.listing {
  clear: both;
  padding: 0;
  margin-left: 50px;
  position: relative;
  .date {
    text-transform: lowercase;
    text-align: right;
    width: 90px;
    font-size: 30px;
    float: left;
    color: #000;
    margin-top: 24px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px;
    .day {
      font-size: 20px;
      text-align: right;
      .day_name {
        color: #000000;
        font-weight: normal;
      }
      .day_suffix {
        font-weight: normal;
        font-size: 18px;
      }
      strong {
        color: #000;
      }
    }
    .time {
      clear: both;
      color: #000000;
      font-style: itaflic;
      font-weight: normal;
      text-align: right;
      color: #777;
      margin-top: 1px;
    }
  }
  .main {
    float: left;
    margin-left: 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    border-bottom: solid 1px #ddd;
    width: 646px;
    padding: 20px 0 14px 10px;
    .name {
      font-size: 30px;
      line-height: 1.4em;
      font-weight: bold;
      margin-top: -4px;
    }
    a {
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .going {
      margin-bottom: 6px;
    }
    .main_bottom_container {
      height: 0;
      overflow: hidden;
      -moz-transition: height 0.1s ease 0s;
      .main_bottom {
      }
    }
    .main_supplement {
      padding: 9px 15px 3px;
      margin-right: 49px;
      margin-bottom: 8px;
    }
    .location {
      margin-bottom: 6px;
      a {
      }
    }
    .description {
      margin-bottom: 6px;
    }
    .actions {
      margin-right: 49px;
      a {
        color: #999;
        font-weight: normal;
      }
      a.intenter {
        color: #0E72BC;
        text-transform: lowercase;
        font-weight: bold;
        margin-right: 8px;
      }
      a.share {
        font-weight: bold;
      }
    }
  }
  .ticket {
//    background: none repeat scroll 0 0 #ff3300;
//    background: #ff0000;
    background: green;
    color: #FFFFFF;
    float: right;
    height: 34px;
    position: absolute;
    right: 58px;
    top: 15px;
    font-size: 18px;
    padding: 0 15px 0;
    .sale_date {
      color: #fff;
      float: left;
      padding-top: 8px;
      div {
        color: rgba(255, 255, 255, 0.8);
        float: left;
        font-size: 10px;
        line-height: 10px;
        text-align: right;
      }
    }
    .ticket_price {
      float: left;
      border-left: solid 1px rgba(255,255,255,0.1);
      padding-left: 6px;
      margin-left: 6px;
      height: 36px;
      padding-top: 8px;
    }
    .ticket_end {
      background: none repeat scroll 0 0 #FFFFFF;
      height: 12px;
      left: -6px;
      position: absolute;
      top: 11px;
      width: 10px;
      border-radius: 22px;
    }
    .ticket_end.right {
      left: auto;
      right: -6px;
    }
  }
  .bottom_dot {
    background: #eee;
    bottom: 0px;
    height: 3px;
    left: 100px;
    position: absolute;
    width: 3px;
    display: none;
  }
  .ticket.orange {
    background: darkorange;
  }
  .ticket.red {
    background: darkred;
  }
}
.listing.expanded {
  .main_bottom {
    height: auto;
  }
  .expand {
    .expand_ver {
      display: none;
    }
  }
  .expand:hover {
    div {
      background: #222;
    }
  }
}
.listing.last_of_month {
  .main {
    border-bottom: none;
  }
}
.main:hover {
  .expand {
    div {
      background: #222;
    }
  }
}
.events_listing {
  padding-top: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#side_column {
  width: 240px;
  background: #eee;
  height: 100%;
  right: 0;
  top: 0;
  position: fixed;
  -moz-transition: width 0.2s linear;
  z-index: 7;
  line-height: 1.4em;
  #side_sort_options {
    float: right;
    height: 30px;
    background: #000;
    width: 200px;
    top: 0;
    position: fixed;
    li {
      height: 30px;
      padding: 8px 8px 0;
      font-size: 14px;
      line-height: 14px;
      color: #eee;
      float: right;
      text-transform: lowercase;
      cursor: pointer;
      background: #333;
    }
    li:hover {
      background: #bbb;
    }
  }
  .sign_options {
    color: #aaa;
    margin-bottom: 15px;
    .sign_options_header {
      #current_user {
        padding: 8px 10px 0;
        font-size: 14px;
        line-height: 14px;
        color: #eee;
        height: 30px;
        cursor: pointer;
        text-transform: lowercase;
        float: right;
      }
      #current_user:hover {
        background: darkslateblue;
      }
    }
    a {
      text-decoration: none;
      color: #777;
    }
    a:hover {
      color: #ff0000;
    }
    a.active {
      color: #000;
    }
  }
  .side_content {
    padding: 0 20px 0 0;
    margin-top: 115px;
    color: #555;
    font-size: 14px;
    line-height: 20px;
  }
  .side_listing {
    background: #eaeaea;
    padding: 10px 10px 8px;
    display: none;
    .title {
      background: none repeat scroll 0 0 #555;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.4em;
      padding: 8px 10px 5px;
      text-transform: lowercase;
      margin: -10px -10px 8px;
    }
    .listing {
      font-size: 14px;
      background: transparent;
      padding: 0;
      margin: 0;
      a {
        cursor: pointer;
        text-decoration: none;
        color: #555;
      }
    }
    .listing:hover a {
      text-decoration: underline;
    }
    .listing:last-child {
      .side_separator {
        display: none;
      }
    }
  }
}
//#side_column:hover {
//  .side_listing {
//    .title {
//      color: #222;
//    }
//    .listing {
//      a {
//        color: #222;
//      }
//    }
//  }
//}

#panel_container {
  width: 780px;
  height: 100%;
  top: 0;
  right: 240px;
  background: #ccc;
  position: fixed;
  z-index: 1;
}
form {
  position: relative;
  clear: both;
  textarea {
    background: #fff;
    padding: 7px 5px 5px;
    line-height: 22px;
    border: none;
    width: 450px;
    margin: 0;
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",'Helvetica Neue';
    height: 38px;
    font-size: 16px;
    margin-bottom: 8px;
    -moz-transition: all 0.2s linear;
  }
  textarea:focus {
    height: 80px;
    width: 600px;
  }
  textarea:hover, textarea:focus {
    background: #fff;
  }
}
#date_bar {
  background: #efefef;
  height: 100%;
  position: fixed;
  z-index: -1;
  width: 55px;
  margin-left: 57px;
  display: none;
}
.ticket_line {
  background: none repeat scroll 0 0 #ddd;
  height: 1px;
  left: 140px;
  position: absolute;
  top: 32px;
  display: none;
  width: 690px;
  z-index: -1;
}

.sort_options {
  float: right;
  height: 34px;
  margin-top: 10px;
  background: #ccc;
  overflow: hidden;
  margin-right: 12px;
  margin-top: 15px;
  width: 210px;
  border-radius: 4px;
  
  li {
    height: 38px;
    padding: 8px 8px 0;
    font-size: 18px;
    line-height: 18px;
    color: #000;
    float: left;
    text-transform: lowercase;
    cursor: pointer;
  }
  li.active {
    background: black;
    color: #fff;
  }
  li.city {
  }
  li:hover {
    background: #999;
  }
  li.active:hover {
    background: black;
  }
}

#create_event {
  background: #0E72BC;
  padding: 8px 10px 0;
  font-size: 18px;
  color: #fff;
  line-height: 18px;
  height: 34px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  float: left;
  z-index: 8;
  position: fixed;
  right: 12px;
  top: 50px;
  width: 210px;
  border-radius: 4px;
}

.one_quarter {
  width: 100px;
  float: left;
  margin-right: 8px;
}
.three_quarter {
  width: 200px;
  float: left;
  margin-right: 8px;
}
.form_group {
  padding: 0 20px 2px;
  clear: both;
  font-size: 18px;
}

.radio_list {
  padding: 8px 0;
  margin-bottom: 8px;
  float: left;
  input {
    float: left;
    width: auto;
    margin-left: 0;
    clear: both;
  }
  label {
    clear: none;
    margin: 5px 0 5px 2px; 
    font-size: 16px;
  }
}

//body.fix_main {
//  #wrapper {
//    float: left;
//    margin-left: 275px;
//  }
//}
.text_container {
  height: 1px;
  width: 1000px;
  overflow: hidden;
  .text_clone {
    float: left;
    font-size: 18px;
    padding: 5px;
  }
}

.expand {
  float: right;
  height: 26px;
  position: absolute;
  right: 19px;
  top: 19px;
  width: 26px;
  div {
    background: #ccc;
    position: absolute;
  }
  .expand_hor {
    width: 24px;
    height: 6px;
    top: 9px;
  }
  .expand_ver {
    width: 6px;
    height: 24px;
    left: 9px;   
  }
}